/* This is for the navigation menu*/
.topnav {
    overflow: hidden;
    width: 50%;
    margin-inline: 25%;
    border-top: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 16px 30px;
    
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: rgb(150, 150, 150);
}



/* This is the header on the top of the page */
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    float: top;
    text-align: center;
    padding: 0px 25px;
    font-size: 35px;

}



/* this is the text inside the leaves image and the image itself */
.Welcome {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    text-align: center;
    align-items: center;
    color: white;

}

.middle {
    padding-left: 950px;
    font-size: 60px;
    padding-top: 250px;
    color: white;

}

.middle-bottom {
    position: relative;
    font-size: 20px;
    padding: 400px 0 0 10px;
    text-align: center;
    left: -54vh;
}


/*this is the css for the about me section*/

.Who {
    display: flex;
    font-size: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 16%;
    padding-top: 16%;
}

p {
    font-size: 50px;
    padding-right: 60%;
    padding-left: 10%;
}

.Me {
    display: flex;
    float: right;
    text-align: center;
    justify-content: top;
    align-items: top;
}

/* this is for the contact form */
.form {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
 }

 .forminput {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 15%;
    align-self: center;
 }

 .submit {
    margin-top: 1rem;
    padding: .5rem 3rem;
    align-self: center;
 }